@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap');

body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Open Sans', sans-serif;
}

nav ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    height: 60px;
    background-color: black;
    color: white;
}

nav ul li{
    font-size: 1rem;
    padding: 0 16px;
}

.company-logo img{
    width: 48px;
    padding: 0 8px;
}

.company-logo {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 1.3rem;
}

.container {
    min-height: 70vh;
    background-color: black;
    color: white;
    font-family: 'Lora' serif;
    display: flex;
    margin: 24px auto;
    width: 75%;
    border-radius: 16px;
    padding: 36px;
    background-image: url('bg.jpg');
}

.bottom {
    position: sticky;
    height: 120px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons {
    margin-top: 16px;
}

.icons i{
    cursor: pointer;
}

#myProgressBar{
    width: 80vw;
    cursor: pointer;
}

.songItemContainer {
    margin-top: 40px;
}

.songItem {
    height: 56px;
    display: flex;
    background-color: white;
    /* width: 80%; */
    color: black;
    margin: 16px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 36px;
}

.songItem img {
    width: 40px;
    margin: 0 24px;
    border-radius: 18px;
}

.timestamp {
    margin: 0 24px;
}

.timestamp i {
    cursor: pointer;
}

.songInfo {
    position: absolute;
    left: 10vw;
    font-family: 'Open Sans', sans-serif;
}

.songInfo img {
    opacity: 0;
    transition: opacity 1s ease-in;
}